Checks:          '-*,
                   clang-diagnostic-*,
                   bugprone-*,
                   performance-*,
                   modernize-*,
                   readability-*,
                   misc-unused-parameters,
                   -readability-function-cognitive-complexity,
                   -readability-identifier-length,
                   -readability-magic-numbers,
                   -performance-enum-size,
                   -performance-avoid-endl,
                   -bugprone-easily-swappable-parameters,
                   -bugprone-implicit-widening-of-multiplication-result,
                   -bugprone-exception-escape,
                   -modernize-use-trailing-return-type,
                   -modernize-avoid-c-arrays,
                   -readability-implicit-bool-conversion,
                   -readability-convert-member-functions-to-static,
                   -modernize-use-scoped-lock,
                   -modernize-use-designated-initializers,
                   -modernize-use-integer-sign-comparison,
                   -modernize-use-ranges,
                   -readability-math-missing-parentheses,
                   -readability-use-concise-preprocessor-directives,
                   -readability-container-contains,
                   -readability-use-std-min-max,
                   -performance-unnecessary-value-param,
                   '
HeaderFilterRegex: '^(.*[/\\])?(src|include|tests)/.*\.(h|hh|hpp|hxx|ipp|inl|c|cc|cpp|cxx)$'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MethodCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           _
  - key:             readability-identifier-naming.ConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstantPrefix
    value:           k
  - key:             readability-identifier-naming.LocalConstantCase
    value:           camelBack
  - key:             readability-identifier-naming.LocalConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.StaticConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.StaticConstantPrefix
    value:           k
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstexprVariablePrefix
    value:           k
  - key:             readability-identifier-naming.EnumConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           assert
  - key:             bugprone-assert-side-effect.CheckFunctionCalls
    value:           '0'
  - key:             bugprone-dangling-handle.HandleClasses
    value:           'std::basic_string_view;std::experimental::basic_string_view'
  - key:             bugprone-string-constructor.WarnOnLargeLength
    value:           '0'
  - key:             bugprone-suspicious-enum-usage.StrictMode
    value:           '0'
  - key:             bugprone-unused-return-value.AllowCastToVoid
    value:           true
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-replace-random-shuffle.IncludeStyle
    value:           llvm
